/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.custom-link {
  text-decoration: none; /* Elimina la decoración de enlace predeterminada */
  color: grey; /* Hereda el color del texto actual */
  font-size: "100%";
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeOut {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out; /* Ajusta la duración y la función de temporización según tus preferencias */
}

@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Rethink+Sans&display=swap')
